---
interface Props {
  title: string;
  slug: string;
  url?: string;
  imgSrc?: string;
  isBig?: boolean;
}

const { title, url, slug, imgSrc, isBig } = Astro.props;

// id is last element of url
// const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a href={url ? url : null}>
  <article
    class:list={["flex flex-col justify-center items-center rounded  p-2"]}
  >
    <img
      transition:name={`${slug}-image`}
      class:list={[
        {
          "w-72 h-40 object-cover": !isBig,
          "w-30 h-auto": isBig,
        },
      ]}
      src={imgSrc!}
      alt={`blog ${title}`}
    />
    <h2
      class:list={[
        "capitalize font-medium mt-1 text-center w-full line-clamp-2",
        {
          "text-2xl": isBig,
          "text-sm": !isBig,
        },
      ]}
    >
      {title}
    </h2>
  </article>
</a>
